<h1>Sessions#new</h1>

Landing Page

<%= form_for @user, url: signup_path  do |f| %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <%#= f.label :password %>
  <%#= f.password_field :password %>
  <%#= f.label :password_confirmation %>
  <%#= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
