<h2>Listings</h2>

<%= flash[:error] %>

<% @listings.each do |listing| %>
  <p><%#= link_to listing.title, listing_path(listing) %></p>
    <p><%#= link_to listing.title + ", " + listing.price.to_s, listing_path(listing) %></p>
    <p><%#= link_to listing.price.to_s + ", " + listing.title, listing_path(listing) %></p>
    <p><%= link_to listing.title + ", " + number_to_currency(listing.price), listing_path(listing) %></p>

<%end%>

<!--render edit button-->
<%= button_to "Add Listing", { :action => "new" }, :method => :get %>
