<h2>Agencies</h2>


<% @agencies.each do |agency| %>
  <p><%= link_to agency.agency_name, agency_path(agency) %></p>
<%end%>

<!--render edit button-->
<%= button_to "Add Agency", { :action => "new" }, :method => :get %>
