<h2>Agents</h2>


<% @agents.each do |agent| %>
  <p><%= link_to agency.name, agency_path(agency) %></p>
<%end%>

<!--render edit button-->
<%= button_to "Add Agency", { :action => "new" }, :method => :get %>
